@page "/FamilyTree"
@page "/FamilyTree/{familyaddress}"
@using Models
@inject IFamilyService FamilyService
@inject NavigationManager NavigationManager
@inject BrowserService BrowserService


<AnimatedBackground>

    @if (selectedFamily == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        string adultImgPath = "";
        for (var i = 0; i < selectedFamily.Adults.Count; i++)
        {
            if (selectedFamily.Adults[i].Sex.Equals("F"))
                adultImgPath = "img/avatars/mother.png";
            else
                adultImgPath = "img/avatars/father1.png";
            <MovableImage ImgPath=@adultImgPath ItemWidth="100" ItemHeight="100" DefaultX="new Random().Next(800)" DefaultY="new Random().Next(500)" Person="@selectedFamily.Adults[i]" Family="@selectedFamily"/>
        }

        for (var i = 0; i < selectedFamily.Pets.Count; i++)
        {
            <MovableImage ImgPath="img/avatars/planet1.png" ItemWidth="100" ItemHeight="100" DefaultX="new Random().Next(800)" DefaultY="new Random().Next(500)" Pet="@selectedFamily.Pets[i]" Family="@selectedFamily"/>
        }

        for (var i = 0; i < selectedFamily.Children.Count; i++)
        {
            if (selectedFamily.Children[i].Sex.Equals("F"))
                adultImgPath = "img/avatars/child-girl1.png";
            else
                adultImgPath = "img/avatars/child-boy1.png";
            <MovableImage ImgPath=@adultImgPath ItemWidth="100" ItemHeight="100" DefaultX="new Random().Next(800)" DefaultY="new Random().Next(500)" Person="@selectedFamily.Children[i]" Family="@selectedFamily"/>
        }

        <AuthorizeView>
            <select class="black-control" @bind="memberType">
                <option>Adult</option>
                <option>Child</option>
                <option>Pet</option>
            </select>
            <button type="button" class="button-red" @onclick=AddNewMember>Add member</button>
        </AuthorizeView>
    }
    @* <MovableImage ImgPath="img/avatars/child-boy1.png" DefaultX="500" DefaultY="300" ItemWidth="100" ItemHeight="100"/> *@
    @*  <MovableImage ImgPath="img/avatars/mother.png" DefaultX="1000" DefaultY="500" ItemWidth="100" ItemHeight="100" ItemSpeed="0.8" Animate="FadeIn"/> *@
</AnimatedBackground>


@code
{

    public int Height { get; set; }
    public int Width { get; set; }

    [Parameter]
    public string FamilyAddress { get; set; }

    private Family selectedFamily;
    private bool addingView;
    private string memberType = "Adult";
    private string address;


    async Task GetDimensions()
    {
        var dimension = await BrowserService.GetDimensions();
        Height = dimension.Height;
        Width = dimension.Width;
    }

    protected override void OnInitialized()
    {
        addingView = false;
        GetDimensions();

        foreach (var family in FamilyService.GetAllFamilies())
        {
            address = family.StreetName + " " + family.HouseNumber;
            if (address.Equals(FamilyAddress))
            {
                selectedFamily = family;
            }
        }
    }

    public void AddNewMember()
    {
        NavigationManager.NavigateTo("/modifyMember/" + FamilyAddress + "/Add/" + memberType);
    }
}